.wrapper
    .banner
        .banner__top
            picture
                source(srcset="./img/characters-tab.png" media="(max-width: 1205px)")
                img(src="./img/characters.png" alt="favbet")
        .banner__text
            .banner__text-item.bonus Бонус*
            .banner__text-item.money #[span до] 225 000₴
            .banner__text-item.fs + 300 FS
        .banner__bottom
            picture
                source(srcset="./img/cd-center-tab.png" media="(max-width: 1205px)")
                img(src="./img/cd-center.png" alt="favbet")
        p.banner__info * Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції з 24.03.2025 по 31.12.2025 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.
